# Ignore node_modules directory (both frontend and backend)
node_modules/

# Ignore logs
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore environment variable files
.env

# Ignore build output (for frontend projects)
frontend/build

# Ignore system files
.DS_Store
Thumbs.db

# Ignore IDE/editor-specific files
.vscode/
.idea/

# Ignore temporary files
*.tmp

